
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head> 
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>IMS - HOME</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- icons -->
  <link href="{% static 'assets/img/ims-sq.png' %}" rel="icon">
  <link href="{% static 'assets/img/ims-sq.png' %}" rel="apple-touch-icon">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Updated: May 18 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">IMS</h1> 
      </a>

      

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}" class="active">Home<br></a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'notice_view' %}">Notice</a></li>
          <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="{% url 'profile' %}">Edit Profile</a></li>
                  <li><a href="{% url 'user_detail' user.id %}">View Profile</a></li>
                </ul>
              </li>

              <li class="dropdown"><a href="{% url 'attendance' %}"><span>Attendance</span> </a></li>
              <li class="dropdown"><a href="{% url 'view_subjects' %}"><span>View Subjects</span> </a></li>
              <li class="dropdown"><a href="{% url 'syllabus' %}"><span>View Syllabus</span> </a></li>

              <li class="dropdown"><a href="#"><span>Mark</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><li class="dropdown"><a href="{% url 'university_mrk' %}"><span>University Mark</span> </a></li>
                  <li><li class="dropdown"><a href="{% url 'view_marks' %}"><span>Internal Mark</span></a></li> 
                </ul>
              </li>

              <li class="dropdown"><a href="#"><span>Time Table</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="{% url 'examtimetable' %}">Exam Time Table</a></li>                   
                  <li><a href="{% url 'classtimetable' %}">Class Time Table</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{% url 'logout' %}" >Logout</a>
    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100" class="">Hello,<br>{{user.first_name}}</h2>
        <p data-aos="fade-up" data-aos-delay="200">We provide students quality education</p>
        
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
            <h3>CAS MAVELIKKARA</h3>
            <p class="fst-italic">
              The College of Applied Science, Mavelikkara was established in 1994. The institution is affiliated 
              to the University of Kerala and is managed by the Institute of Human Resources Development, 
              Thiruvananthapuram, a Government of Kerala undertaking popularly known as the IHRD in the Kerala 
              higher education sector.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Quality education.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Good Faculties.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Best Campus.</span></li>
            </ul>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

   <!-- Testimonials Section -->
   <section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Gallery</h2>
      <p>Our photo Gallery</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
              },
              "1200": {
                "slidesPerView": 2,
                "spaceBetween": 20
              }
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/clg1.jpeg' %}" class="img-fluid" alt="">
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/clg2.jpeg' %}" class="img-fluid" alt="">
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/clg3.jpeg' %}" class="img-fluid" alt="">
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/clg4.jpeg' %}" class="img-fluid" alt="">
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/clg5.jpeg' %}" class="img-fluid" alt="">
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Testimonials Section -->

  

  

</main>
<!-- /FOOTER -->
<footer id="footer" class="footer position-relative">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">CASM</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Govt. BHSS, Compound,</p>
          <p>Mavelikara, 690101</p>
          <p class="mt-3"><strong>Phone:</strong> <span>04792304494</span></p>
          <p><strong>Email:</strong> <span>casmavelikkara-at-ihrd.ac.in</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">State-of-the-Art Facilities</a></li>
          <li><a href="#">Diverse Academic Programs</a></li>
          <li><a href="#">Vibrant Campus Life</a></li>
          <li><a href="#">Strong Career Support</a></li>
          <li><a href="#">Global Opportunities</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>State-of-the-Art Facilities</h4>
          Our campus features modern classrooms,<br> advanced labs, a comprehensive library, and <br>top-tier sports and 
          recreational facilities. <br>Students enjoy cutting-edge technology and a comfortable living environment in our 
          secure residence halls. Experience the best resources <br>and a vibrant community at our institution.
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">IMS</strong> <span>All Rights Reserved</span></p>
    <div class="credits">
      <p>Thank You</p>
    </div>
  </div>

</footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>